<style>

.main {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}


.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; 
}


.sidebar {
  background-color: #59ab6e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1; 
  min-height: 100%; 
}

.sidebar .nav {
  flex-grow: 1; 
}

.sidebar .nav-link {
  font-weight: bold;
  color: #fff;
  padding: 12px;
  display: block;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background: #4a965d;
}
.btn-success {
  background-color: #577194;
  border-color: #6bb87d;
}

.btn-success:hover {
  background-color: #506955;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 15px;
  }
}


</style>

<main class="main">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/userProfile">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getAllAddress">My Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getWallet">Wallet Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#wallet-history">Wallet History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#referal">Referals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Main Content -->
      <div class="col-md-9">
        <section class="content-main">
