</section>
<footer class="main-footer font-xs" style="margin-top: 30px;">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>document.write(new Date().getFullYear());</script>
            ©, Evara - HTML Ecommerce Template.
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved.
            </div>
        </div>
    </div>
</footer>
</main>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/admin-assets/assets/js/main.js"></script>
<script src="/admin-assets/assets/js/custom-chart.js"></script>
</body>
</html>
